<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <style>
        .test {
            color: red;
        }
    </style>
    <body>
        <div
            style="
                text-align: center;
                font-size: 20px;
                font-weight: 600;
                color: rgb(3, 3, 3);
                outline: 1px solid red;
            "
            class="test"
        >
            test
        </div>
    </body>
</html>
